.zoom-control {
    top: 80px;
    background-color: #ACD796;
}

.right-panel-header .fa-map-marker {
    color: black;
}

.control-panel-selected {
    background-color: #DCD040;
}

.search-box {
    background-color: #DCD040;
}

.right-panel-header {
    background-color: white;
    color: black;
}

.panel-wrapper {
    padding-top: 69px;
}

.no-upload {
    top: 183px !important;
}
.map-control-panel {
    top: 205px;
}
.map-control-panel-box {
    top: 19px;
}
.download-control-panel {
    top: 322px;
}
.layer-switcher {
    top: 277px !important;
}

.panel-wrapper {
    width: 400px;
}

.right-panel-header-healthyrivers {
    font-size: 17pt;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    min-height: 60px;
    background: white;
    color: black;
}

.healthyrivers-site-header {
    text-align: center !important;
    margin-bottom: 10px;
}

.healthyrivers-close-panel {
    position: fixed;
    right: 397px;
    top: 0;
}

.healthyrivers-icon-close {
    background-color: #ded241;
    color: black;
    border: none !important;
    width: 25px;
    line-height: 40px !important;
    font-size: 20pt;
}

.healthyrivers-site-summary {
    font-size: 11pt;
}

.healthyrivers-site-summary p {
    margin-bottom: 0;
    font-size: 10pt;
}

.healthyrivers-site-summary p:first-child {
    text-decoration: underline !important;
}

.healthyrivers-site-detail {
    text-align: center !important;
}

.healthyrivers-site-detail {
    font-weight: bold;
}

.healthyrivers-site-detail table, .healthyrivers-site-detail tr, .healthyrivers-site-detail td {
    border: 1px solid lightgrey;
}

.healthyrivers-site-detail table {
    width: 100%;
}

.endemic-title {
    font-size: 30pt;
    font-weight: bolder;
    color: red;
}

.endemic-total {
    font-size: 24pt;
    color: grey;
}

.healthyrivers-site-detail td {
    padding: 10px 10px 0 0;
}

.healthyrivers-side-panel-footer {
    font-size: 16pt;
    padding: 5px;
}

.healthyrivers-side-panel-footer i {
    font-size: 25pt;
    line-height: 60px;
}

#detailed-taxa-dashboard, #detailed-dashboard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 10000;
    background: white;
    border: 3px solid black;
}

.dashboard-wrapper {
    margin-top: 25px;
    margin-bottom: 50px;
}

.dashboard-table table {
    width: 100%;
}

.dashboard-table table,
.dashboard-table tr, .dashboard-table td,
.dashboard-table th {
    border: 1px solid black;
}

.dashboard-table td, .dashboard-table th {
    padding: 2px 5px;
}

.btn-dashboard {
    border-radius: 0;
    border: 2px solid black !important;
    position: fixed;
    top: 3px;
    right: 3px;
}

.btn-element-download {
    border-radius: 0;
    border: 2px solid black !important;
}

.btn-element-download:hover, .btn-dashboard:hover {
    color: #526B43 !important;
    background-color: white !important;
}

.panel-wrapper {
    padding-top: 69px;
}

.chart-wrapper, #taxa-records-timeline-graph {
    background: white !important;
}

#occurence-table, #records-table, #records-area-table {
    max-height: 300px;
    overflow-y: auto;
}