{% extends 'main_base.html' %}
{% load static from staticfiles %}

{% block title %}
    Home
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing_page.css" %}" rel="stylesheet">

{% endblock %}

{% block body_content %}

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>We <i class="fa fa-heart"></i> HealthyRivers</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">App for monitoring rivers and river health.</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">More About Kartoza.</h2>

            <hr class="my-4">
            <p class="mb-5">We are Free and Open Source GIS (FOSSGIS) Service providers providing a global service to individuals,
                companies and governments around the world who are looking to leverage the power of the Free Software movement to solve geospatial problems.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">admin@kartoza.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>


{% endblock %}

{% block foot %}

    <!-- Custom scripts for this template -->
    <script src="{% static "js/creative.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "libs/jquery-easing/jquery.easing.min.js" %}"></script>
    <script src="{% static "libs/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="{% static "libs/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
{% endblock %}
