body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg-primary {
    background-color: #526B43 !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

section {
    padding: 1rem 0;
    border: 1px solid #aad223;
    border-bottom: none !important;
}

#header {
    background-image: url('../img/underwater.jpg');
    background-repeat: no-repeat;
}

#about {
    border: 2px solid #e0d441 !important;
}

.section-heading {
    margin-top: 0;
    margin-bottom: 20px;
}

::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/header.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

header.masthead h1 {
    font-size: 2rem;
}

header.masthead p {
    font-weight: 300;
}

@media (min-width: 768px) {
    header.masthead p {
        font-size: 1.15rem;
    }
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }
    header.masthead h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 4rem;
    }
}

.service-box {
    max-width: 400px;
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(240, 95, 64, 0.9);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.portfolio-box:focus {
    outline: none;
}

@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.text-primary {
    color: #526B43 !important;
}

/** MAP **/

html, body, .map, .map-wrapper, #map-container {
    margin: 0;
    width: 100%;
    height: 100%;
}

.right-panel {
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 27.5%;
    background:rgba(0,0,0,0.6);
    color: white;
    z-index: 2000;
}

.right-panel-title {
    font-size: 25pt;
    padding-top: 12px;
    padding-bottom: 5px;
    padding-left: 50px;
    height: 80px;
    background:rgba(0,0,0,0.40);
}

.close-panel {
    float: right;
    padding-right: 30px;
    padding-top: 10px;
}

.close-panel:hover {
    cursor: pointer;
}

.map-control-panel {
    background-color: white;
    border: 4px solid white;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 135px;
    transform: translateY(-50%);
    padding: 6px;
    font-size: 18pt;
    text-align: center;
    color: #4e4e4e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 30px;
}

.zoom-control {
    font-size: 11pt;
    padding: 0;
    padding-top: 3px;
    position: absolute;
    left: 0;
    top: 220px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 30px;
    border-radius: 3px;
}

.sub-zoom-control {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.sub-zoom-control:hover{
    color: #323437 !important;
}

.sub-control-panel {
   padding-top: 8px;
}

.search-control {
    padding-top: 0 !important;
}

.sub-control-panel:hover, .sub-zoom-control:hover {
    cursor: pointer;
    color: #323437;
}

@media (max-width: 800px) and (min-width: 500px) {
    .right-panel {
        width: 40%;
    }
}

@media (max-width: 500px) {
    .right-panel {
        width: 100%;
    }
}

.btn-account {
    background-color: white;
    border-radius: 0;
    margin: 10px;
    font-weight: normal;
    color: #436461;
    border: 2px solid #436461;
}

.btn-account:hover {
    background-color: #436461;
    color: white;
}

.section-heading {
    color: #a02246;
    font-weight: normal;
}

.total-data {
    font-weight: bold;
}

.green {
    color: #436461;
    font-size: 20pt;
    margin-bottom: 0;
}

.fish-icon {
    width: 150px;
    border: 2px solid #e0d441;
    border-radius: 75px;
    padding: 10px;
    margin-top: 10px;
}

.about-links {
    border-left: 2px solid #436461;
    padding: 15px 20px;
}

.about-links p {
    margin-bottom: 5px;
}

.dropdown-toggle {
    color: transparent;
}